.main{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-gap: 50px
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-left: 15px;
    padding-bottom: 50px;
}
.cart-details{
    background-color: rgb(248, 241, 241);
    padding: 50px;
}
.cart-details-head{
    margin-bottom: 50px
}

@media screen and (max-width: 420px){
    .main{
        grid-template-columns: auto;
    }
    .cart-container{
        grid-template-columns: auto;
        padding: 5px;
    }
    .cart-details{
        padding: 5px;
    }
}