.header{
    text-align: center;
}
.header h1{
    font-size: 50px;
    font-weight: 400;
    color: green;
    margin-bottom: 10px;
}
.header h2{
    font-weight: 500;
    font-size: 30px;
    margin-top: 0;
    color: black;
}

@media (max-width: 420px){
    .header h1{
        font-size: 30px
    }
    .header h2{
        font-size: 20px;
    }
}